
body 
{
	background-image: url("bg.png");


}

@font-face 
{
	font-family: myFirstFont;
	src: url(comic_land/ComicLand.ttf);
}

div 
{
	font-family: myFirstFont;
	font-size: 150%;
}


.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
   
}

.left {
  left: 0;
margin-right: 100px;
}

.right {
  right: 0;
margin-left: 150em;;


}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.rotateimg180 {
  -webkit-transform:rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

.intro 
{
	background-color: yellow;
	width: 300px;
	border: 10px solid black;
	padding: 10px;
	margin: 10px;
	font-family: myFirstFont;
	font-size: 100%;
}

.sticky 
{
	position: fixed;
  	top: 50%;
	right:0

}

.sticky1 
{
	position: fixed;
  	top: 50%;
	left:0

}
